<div class="sidebar">
        
        <div class="sidebar-section">
            <h5><span>Newsletter</span></h5>
            {% include newsletter.html %}
        </div>
            
        <div class="sidebar-section">
            <h5><span>Useful Links</span></h5>
            <ul style="list-none;">
				<li><a target="blank" href="/product-overview/">Event Driven Platform</a></li>
				<li><a target="blank" href="/services-overview/">Implemenation Services</a></li>
				<li><a target="blank" href="/blog">Blog</a></li>
				<li><a target="blank" href="/contact">Contact Us</a></li>
            </ul>
        </div>
            
        <div class="sidebar-section">
             <h5><span>White Paper</span></h5>
           <a href="#" title="Download our whitepaper on how event driven framework can help your business"><img src="{{ site.baseurl }}/assets/images/whitepaper-low-res.jpg" alt="Download our Whitepaper" /></a>
        </div>
            
</div>